<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commonsurvey.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommonSurvey">
        <activity android:name=".CommonGroup.Model.PumpGroup"></activity>
        <activity android:name=".CommonGroup.Model.WaterSourceGroup" />
        <activity android:name=".CommonGroup.Model.PlotPastGroup" />
        <activity android:name=".CommonGroup.Model.PlotDripGroup" />
        <activity android:name=".CommonGroup.Model.PlotIrrigationGroup" />
        <activity android:name=".CommonGroup.Model.PlotGroup" />
        <activity android:name=".CommonGroup.Model.PlotBasicInfo" />
        <activity android:name=".CommonGroup.Model.WheatGroup" />
        <activity android:name=".CommonGroup.Model.RiceGroup" />
        <activity android:name=".CommonGroup.Model.GeneralInfoGroup" />
        <activity android:name=".CommonGroup.Model.FarmerProfileGroup" />
        <activity android:name=".CommonGroup.Model.GeneralWork" />
        <activity android:name=".CommonGroup.Model.MachineryGroup" />
        <activity android:name=".CommonGroup.Model.HerbicideGroup" />
        <activity android:name=".CommonGroup.Model.WeedingGroup" />
        <activity android:name=".CommonGroup.Model.PesticideGroup" />
        <activity android:name=".CommonGroup.Model.FertilizerGroup" />
        <activity android:name=".CommonGroup.CommonGroupActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>